/* Font import from google fonts */

/* Asterisk wildcard to override default settings from browser */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* General styles */
body {
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#w3-image {
    background: url(../images/w3.jpg) no-repeat center center/cover;
    width: 100%;
    height: 60vh;
}